<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>SearchSystem</title>
  <link rel="stylesheet" type="text/css" href="css/styles.css" />
</head>

<body>

  <h1>Search documents of the U.S.A. Congress</h1>

  <hr>

  <form action='/search' method="post" id="searchForm" >
    <label for="request">
      Finding documents that contain the input string
    </label>
    <br>
    <input type="text" name="request" id="userText"
           placeholder="enter your query here">
    <button id="buttonSearch">Send</button>
  </form>

</body>

</html>
